.swiper-button-next,
.swiper-button-prev {
    color: #fcfbfc !important;
    transition: all linear 0.3s;
    width: 10px !important;

    font-size: 20px !important;
    
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #fff !important; /* হোভার করলে নীল হবে */
}
.mycart:hover .addcart {
    cursor: pointer;
    transition: all linear 0.4s;
    transform: translateX(5px);
}

.addcart{
    transform: translateX(-40px);
}