/* Only apply styles to the CategoryGallary swiper */
.category-swiper {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 100px;
}

.category-swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
}

.category-swiper .swiper-slide img {
  display: block;
  width: 100%;
}
